@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
  font-family: 'Roobert Regular';
  src: url('/FCCAnalyses/font/Roobert-Regular.woff2') format('woff2'),
       url('/FCCAnalyses/font/Roobert-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert Medium';
  src: url('/FCCAnalyses/font/Roobert-Medium.otf'),
       url('/FCCAnalyses/font/Roobert-Medium.ttf');
}

@font-face {
  font-family: 'Roobert Light';
  src: url('/FCCAnalyses/font/Roobert-Light.otf');
}

body {
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  font-family: 'Roobert Regular', sans-serif;
  line-height: 1.4;
  color: black;
}


/*
 * Header
 */
.brand {
  text-align: center;
}

.brand a {
  color: black;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  padding-left: 25px;
  vertical-align: middle;
}

.brand img {
  height: 70px;
  vertical-align: middle;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f0f0f5;
  border-radius: 10px
}

.navbar li {
  float: left;
}

.navbar li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
  background-color: #0593a2;
  color: white;
  border-radius: 10px;
}

.navbar li.dropdown {
  display: block;
}

.navbar li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  background-color: #f0f0f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
}

.navbar li.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
}

.navbar li.dropdown .dropdown-content a:hover {
  background-color: #06b3c6;
  color: white !important;
}

.navbar li.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a.active, .navbar li.dropdown .dropdown-content a.active {
  color: #ff7a48;
}

header a.back {
  color: #0593a2;
  text-decoration: none;
}


/*
 * Article
 */
article a {
  color: #0593a2;
  text-decoration: none;
}

article code {
  font-family: 'Space Mono', monospace;
  font-size: inherit;
}


/*
 * Code
 */
p > code,
li > code,
dd > code,
td > code {
  background: #f1f1f1;
  color: indianred;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .1rem;
  border-radius: .2rem;
}

pre code {
  display: block;
  background: #151f30;
  color: white;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
  border-radius: .2rem;
}


/*
 * Footer
 */
footer {
  text-align: center;
  color: #a1a1a1;
  font-size: 8pt;
}

