# Byte-compiled / optimized / DLL files
spack*
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ROOT files
*.root

# HTCondor
# ignores <lxplus-username>.cc file in the top FCCAnalyses directory
/*.cc

# Editors
*~
.vimlocal

# Distribution / packaging
.Python
build/
install/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Output
outputs/
BatchOutputs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Benchmarking
benchmark*json

# Local configuration
.fccana/*

# Graphviz graphs
*.dot
*.png
