name: 'Build and Test'

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        STACK: ['/cvmfs/sw.hsf.org/key4hep/setup.sh',
                '/cvmfs/sw-nightlies.hsf.org/key4hep/setup.sh']
        OS: ['alma9',
             'ubuntu22']
        include:
          - STACK: '/cvmfs/sw-nightlies.hsf.org/key4hep/setup.sh'
            OS: 'ubuntu24'
        exclude:
          - STACK: '/cvmfs/sw-nightlies.hsf.org/key4hep/setup.sh'
            OS: 'ubuntu22'
    steps:
    - uses: actions/checkout@v6
    - name: Start container
      run: |
        docker run -it --name container \
                   --privileged \
                   -v ${GITHUB_WORKSPACE}:/Package \
                   -d ghcr.io/key4hep/key4hep-images/${{ matrix.OS }}-cvmfs \
                   /bin/bash
    - name: Mount CVMFS
      run: |
        docker exec container /bin/bash -c '/mount.sh'
    - name: Configure
      run: >
        docker exec container /bin/bash -c 'cd Package;
           mkdir -p build install;
           source ${{ matrix.STACK }};
           cd build;
           cmake -DCMAKE_INSTALL_PREFIX=../install \
                 -DCMAKE_CXX_FLAGS=" -fdiagnostics-color=always " \
                 -DWITH_ACTS=OFF \
                 -DWITH_DD4HEP=ON \
                 -DWITH_ONNX=ON \
                 -DWITH_PODIO_DATASOURCE=ON \
                 -G Ninja ..;'
    - name: Compile
      run: |
        docker exec container /bin/bash -c 'cd ./Package; \
          source ${{ matrix.STACK }}; \
          cd build; \
          ninja -k0;'
    - name: Install
      run: |
        docker exec container /bin/bash -c 'cd ./Package; \
          source ${{ matrix.STACK }}; \
          cd build; \
          ninja -k0 install;'
    - name: Test
      run: |
        docker exec container /bin/bash -c 'cd ./Package; \
          source ${{ matrix.STACK }}; \
          cd build; \
          ninja -k0 && ctest --output-on-failure'
    - name: Test using local Setup.sh
      run: |
        docker exec container /bin/bash -c 'cd ./Package; \
          source ${{ matrix.STACK }}; \
          source ./setup.sh; \
          fccanalysis run examples/FCCee/higgs/mH-recoil/mumu/analysis_stage1.py --output myoutput.root --test'
